<div>

  <div *ngIf="userForm">

    <form [formGroup]="userForm" (ngSubmit)="addUser()" class="container border">

      <div>
        <div class="m-4">
          <div>
            <div class="row">
              <label>Name *</label>
            </div>
            <div class="row">
              <input formControlName="name" style="width: 100%" />
              <span *ngIf="showControlError('name')" class="text-danger">Name is required!</span>
            </div>
          </div>

          <div class="mt-2">
            <div class="row">
              <input type="radio" value="MALE" formControlName="gender"/>
              <span>Male</span>
            </div>
            <div class="row">
              <input type="radio" value="FEMALE" formControlName="gender"/>
              <span>Female</span>
            </div>
          </div>
        </div>
      </div>

      <div formGroupName="contactInfo">
        <div>
          <h5 class="border-underline">Contact information</h5>

          <div class="row">
            <div class="col">
              <div class="container">
                <div class="row">
                  <label>Email</label>
                </div>
                <div class="row">
                  <input formControlName="email" style="width: 100%" />
                </div>
                <div class="row">
                  <span *ngIf="showControlError('contactInfo|email')" class="text-danger">Email is not valid!</span>
                </div>
                <div class="row">
                  <span class="small-text">We'll never share your email with anyone else.</span>
                </div>
              </div>

            </div>
            <div class="col">
              <label>Telephone</label>
              <input formControlName="phone" style="width: 100%"/>
            </div>
          </div>
        </div>

        <div class="container mt-4">
          <div class="d-flex flex-row-reverse mb-3">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="mr-1 btn btn-light" type="button" (click)="resetForm()">Cancel</button>
          </div>
        </div>
      </div>
        

    </form>

  </div>

</div>