<div *ngIf="users" class="container border mt-4 pt-3">
  
  <div *ngFor="let user of users; let i = index">
    <div class="d-flex justify-content-between p-2 mb-1 border rounded" 
         [ngClass]="{'male-color': user.gender == 'MALE', 'female-color': user.gender == 'FEMALE'}">
      <div>
        {{user.name}}
      </div>
      <div>
        {{user.contactInfo.getInfo}}
        <span class="cursor" (click)="removeUser(i)">X</span>
      </div>
    </div>
  </div>

</div>